<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: page-header(${pageTitle}, 'none')"></head>
<body>
<div th:replace="common/header :: navbar"></div>
<div>
    <h2>Manage Categories</h2>
</div>
<div class="card mx-auto" style="max-width: 800px">
    <article class="card-body">
        <header class="mb-4">
            <h4 class="card-title" th:text="${pageTitle}"></h4>
        </header>
        <form th:action="@{/categories/save}" method="post" th:object="${categoryForm}" enctype="multipart/form-data"
        onsubmit="return checkUniqueCategory(this);">
            <input type="hidden" th:field="*{id}">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Category Name:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" th:field="*{name}" required minlength="3" maxlength="128">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Alias:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" th:field="*{alias}" required minlength="3"
                           maxlength="64">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Enabled:</label>
                <div class="col-sm-8">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" th:field="*{enabled}" class="custom-control-input"
                               id="customEnabledSwitch1">
                        <label class="custom-control-label" for="customEnabledSwitch1">Enable Category</label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Image:</label>
                <div class="col-sm-8">
                    <div class="custom-file">
                        <input type="hidden" th:field="*{image}">
                        <input type="file" id="fileImage" name="fileImage" accept="image/png, image/jpeg"
                        th:required="${categoryForm.imagePath == null}">
                        <img class="m-2 img-md" id="thumbnail" alt="Image preview" th:src="@{${categoryForm.getImagePath()}}">
                    </div>

                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary m-3">Save</button>
                <button type="button" class="btn btn-secondary" id="buttonCancel">Cancel</button>
            </div>
        </form>
    </article>
</div>

<div th:replace="common/modal_fragments :: modal-dialog"></div>

<div th:replace="common/header :: footer"></div>

<script type="text/javascript">
    cancelFormURL = "[[@{/categories}]]";

    function checkUniqueCategory(form) {
        url = "[[@{/categories/unique_check}]]";
        categoryName = $("#name").val();
        categoryAlias = $("#alias").val();
        categoryId = $("#id").val();
        params = {id : categoryId, name : categoryName, alias : categoryAlias};

        $.post(url, params, function (response) {
            if (response == "unique") {
                form.submit();
            } else if (response == "existingName") {
                showWarningModal("Category with name " + categoryName + " already exists");
            } else if (response == "existingAlias") {
                showWarningModal("Category with alias " + categoryAlias + " already exists");
            } else {
                showErrorModal("Invalid server response");
            }
        }).fail(function () {
            showErrorModal("Fail to connect to the server");
        });

        return false;
    }

</script>
<script th:src="@{/js/common_forms.js}"></script>
</body>
</html>