<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: page-header('Your Profile Details')"></head>
<body>
<div th:replace="common/header :: navbar"></div>
<div class="card mx-auto" style="max-width: 800px">
    <article class="card-body">
        <header class="mb-4">
            <h4 class="card-title">Your Profile Details</h4>
        </header>

        <div th:if="${message != null}" th:text="${message}" class="alert alert-success text-center"></div>

        <form th:action="@{/account/update}" method="post" th:object="${userForm}" enctype="multipart/form-data">
            <input type="hidden" th:field="*{id}">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">E-mail:</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" th:field="*{email}" readonly="readonly">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">First Name:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" th:field="*{firstName}" required minlength="1"
                           maxlength="50">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Last Name:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" th:field="*{lastName}" required minlength="1" maxlength="50">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Password:</label>
                <div class="col-sm-8">
                    <input  type="password" class="form-control" th:field="*{password}" placeholder="Change or leave blank"
                    minlength="8" maxlength="20" oninput="checkPasswordMatch(document.getElementById('confirmPassword'))">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Confirm Password:</label>
                <div class="col-sm-8">
                    <input  type="password" id="confirmPassword" class="form-control" minlength="8" maxlength="20"
                    oninput="checkPasswordMatch(this)">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Established Roles:</label>
                <div class="col-sm-8">
                    <span><b th:text="${userForm.roles}"></b></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Photo:</label>
                <div class="col-sm-8">
                    <div class="custom-file">
                        <input type="hidden" th:field="*{photos}">
                        <input type="file" id="fileImage" name="image" accept="image/png, image/jpeg">
                        <img class="m-2 img-md" id="thumbnail" alt="Photo preview" th:src="@{${userForm.getPhotosImagePath()}}">
                    </div>

                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary m-3">Save</button>
                <button type="button" class="btn btn-secondary" id="buttonCancel">Cancel</button>
            </div>
        </form>
    </article>
</div>

<div th:replace="common/header :: footer"></div>

<script type="text/javascript">
    cancelUserFormURL = "[[@{/}]]";

    function checkPasswordMatch(confirmPassword) {
        if (confirmPassword.value != $("#password").val()) {
            confirmPassword.setCustomValidity("Passwords don't match!")
        } else {
            confirmPassword.setCustomValidity("");
        }
    }
</script>
<script th:src="@{/js/common_user_form.js}"></script>
</body>
</html>